/* cover */
html{scroll-behavior: smooth;}
*{box-sizing: inherit;}

body{
  padding:0;
  margin:0;
}

header {
 background:url("bkg1.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index:-10;
   width:100%;
  height:100vh;
}

h1{
  position:relative;
   font-size: 80px;
padding-top:400px;
padding-left:600px;
}

h2{
	position:relative;
   font-size: 35px;
   margin-left:600px;
 }

.chibi{
  position:relative;
    margin-left:140px;
    margin-top:-400px;
    width:29%;
}

.grid-container{
  display: grid;
  color:red;
  grid-template-columns: repeat(3fr);
  margin: 0;
  padding: 0;
}

.item1{
margin-left:140px;
margin-top:-300px;
  padding: 10px 0;
  font-size: 30px;
  color:black;
}

/* about me */

.background2 {
  background:url("bkg2.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index:-10;
   width:100%;
  height:100vh;
  padding:0px;
}

.introduction{
  position:relative;
  padding-top: 450px;
}

.item2{
margin-left:550px;
margin-top:-280px;
  padding: 10px 0;
}

.me{
  position:relative;
  width:30%;
}

.item3{
	

}

h2{
padding:1px;
margin-left:600px;
  position:relative;
}

.ear{
  position:relative;
  width:20%;
}
.perks1{
  position:relative;
  width:20%;
}

.eye{
  position:relative;
  width:20%;
}
.perks2{
  position:relative;
  width:20%;
}
.stairs{
  position:relative;
  width:20%;
}
.perks3{
  position:relative;
  width:20%;
}

.item3{
grid-column-start:20;
grid-column-end:30;
}


.item4{

}
.doodle{
  position:relative;
  width:20%;
}

.pen{
  position:relative;
  width:20%;
}

.language{
  position:relative;
  width:20%;
}

.bilingual{
  position:relative;
  width:20%;
}

.adobe{
  position:relative;
  width:20%;
}

.adobeicon{
  position:relative;
  width:20%;
}

/* main menu */

.background3 {
  background:url("bkg3.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index:-10;
   width:100%;
  height:100vh;
}

.square {
  height: 380px;
  width: 380px;
  background-color: #FF9E82;
transform: rotate(45deg);
top:1790px;
left:100px;
position:absolute;
  }

   .square2 {
  height: 380px;
  width: 380px;
  background-color: #FF9E82;
transform: rotate(315deg);
top:2100px;
left:400px;
position:absolute;
  }

   .square3 {
  height: 380px;
  width: 380px;
  background-color: #FF9E82;
transform: rotate(45deg);
top:1800px;
left:690px;
position:absolute;
  }

   .square4 {
  height: 380px;
  width: 380px;
  background-color: #FF9E82;
transform: rotate(315deg);
top:2100px;
left:990px;
position:absolute;
  }

  .education{
  font-size:50px;

}
.Workexperience{
  font-size:50px;

}
.Contact{
  
font-size:50px;
}

.projects{
 font-size:50px;

}


