/* cover */
html{scroll-behavior: smooth;}
*{box-sizing: inherit;}

*{
  margin: 0;
  padding: 0;
}

body{
  padding:0;
}

/*start of 1st header - TAKE A look at my portfolio*/
header {
  padding:0;
}

h2{
padding-left:1300px;
  position:relative;
}

.background1 {
  background:url("bkg1.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index:-10;
   width:100%;
  height:100vh;
}

.grid-containertitle{
  display: grid;
  grid-template-columns: repeat(2fr);
  margin: 0;
  padding: 0;
}

.titlename{
  grid-template-columns: repeat(2fr);
  margin: 0;
  padding: 0;
}

.takealook{
position:relative;
   font-size: 80px;
color::#112046;
margin-top:500px;
margin-left:600px;
}

.subtitle{
   margin-left:140px;
margin-top:-300px;
  padding: 10px 0;
  font-size: 30px;
}

.atmyport{
	position:relative;
   font-size: 35px;
   margin-left:-830px;
   margin-top:310px;
 }

.chibipic {
  margin-left:50px;
margin-top:200px;
  padding: 10px 0;
  
}

.chibi{
  position:relative;
    margin-left:110px;
    margin-top:-600px;
    width:29%;
}

/*End of 1st header- TAKE A look at my portfolio*/

/*start of 2nd section- My perks n abilities*/

section{
  padding:0;
}

.background2 {
  background:url("bkg2.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index:-10;
   width:100%;
  height:100vh;
  padding:0px;
}

/* about me */

.grid-containerintro{
  display: grid;
  color:red;
  grid-template-rows: repeat(3fr);
  margin: 0;
  padding: 0;
}

.intro{
margin-left:550px;
margin-top:-280px;
  padding: 10px 0;
}

.introduction{
  position:relative;
  margin-top:550px;
  margin-left:-450px;
  font-size:25px;
  color:black;
}

.linkcv{
  margin-left:550px;
margin-top:-280px;
  padding: 10px 0;
}

.linktocv{
  position:relative;
  margin-top:250px;
  margin-left:-450px;
  font-size:20px;
}

.drawingme{
margin-left:350px;
margin-top:-300px;
}

.me{
  position:relative;
  width:30%;
  margin-left:130px;
}

/* my perks */

.grid-containertitle2{
  grid-template-columns: repeat(2fr);
  margin: 0;
  padding: 0;
}

.titleperks{
margin-left:-300px;
margin-top:-500px;
}

.perks{
  position:relative;
  margin-top:-150px;
  margin-left:60px;
  font-size:30px;
}

.grid-container2{
  display: grid;
  color:black;
  grid-template-columns: repeat(3fr);
  margin: 0;
  padding: 0;
}

/* active listener */

.perks1{
  margin-left:140px;
  margin-top:400px;
}

.eartext{
margin-left:140px;
margin-top:-300px;
  font-size:20px;
  color:black;
}

.ear{
  position:relative;
    margin-left:500px;
    margin-top:-900px;
    width:8%;
}

/* eyefor detail */

.perks2{
  margin-left:420px;
margin-top:-700px;
  font-size:20px;
  color:black;
}

.eyetext{
  margin-left:140px;
  margin-top:400px;
}

.eye{
  position:relative;
    margin-left:500px;
    margin-top:-900px;
    width:8%;
}

/* ambitous  */

.perks3{
margin-left:420px;
margin-top:-700px;
  font-size:20px;
  color:black;
}

.stairstext{
  position:relative;
  margin-left:840px;
  margin-top:400px;
}

.stairs{
  position:relative;
margin-left:60px;
    margin-top:-900px;
    width:30%;
}

/* my abilities */

.grid-containertitle3{
  grid-template-columns: repeat(2fr);
  margin: 0;
  padding: 0;
}

.titleabilities{
margin-left:-250px;
margin-top:-180px;
  padding: 10px 0;
}

.grid-container3{
  display: grid;
  color:black;
  grid-template-columns: repeat(3fr);
  margin: 0;
  padding: 0;
}

.ability1{
margin-left:620px;
margin-top:800px;
  font-size:20px;
  color:black;
}

.doodle{
  position:relative;

}

.pen{
  position:absolute;
  width:20%;
  margin-left:240px;
  margin-top:-700px;
}




.ability2{
margin-left:420px;
margin-top:500px;
  font-size:20px;
  color:black;
}

.language{
  position:relative;
  width:50%;
}

.bilingual{
  position:absolute;
  width:20%;
  margin-left:640px;
  margin-top:-1200px;
}



.ability3{
margin-left:420px;
margin-top:-700px;
  font-size:20px;
  color:black;
}

.adobe{
  position:relative;
  width:50%;
}

.adobeicon{
  position:absolute;
  width:20%;
   margin-left:810px;
  margin-top:-430px;
}


/* main menu */

.background3 {
  background:url("bkg3.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index:-10;
   width:100%;
  height:100vh;
}

.square {
  height: 380px;
  width: 380px;
  background-color: #FF9E82;
transform: rotate(45deg);
top:1790px;
left:100px;
position:absolute;
padding-top:100px;

  }

   .square2 {
  height: 380px;
  width: 380px;
  background-color: #FF9E82;
transform: rotate(315deg);
top:2100px;
left:400px;
position:absolute;
  }

   .square3 {
  height: 380px;
  width: 380px;
  background-color: #FF9E82;
transform: rotate(45deg);
top:1800px;
left:690px;
position:absolute;
  }

   .square4 {
  height: 380px;
  width: 380px;
  background-color: #FF9E82;
transform: rotate(315deg);
top:2100px;
left:990px;
position:absolute;
  }

  .education{
  font-size:50px;

}
.Workexperience{
  font-size:50px;

}
.Contact{
  
font-size:50px;
}

.projects{
 font-size:50px;

}


