

body {
  color: #2f;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  background:#f3dfcb;
  z-index:2;
}

.background1 {
 background-image: url("background title-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index:-10;
  width:100%;
  height:100vh;
}
 
.background2 {
  background:url("background 2-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index:-10;
   width:1475px;
  height:800px;
  
}

.aboutme{
font-size: 15px;
  top:500px;
position:absolute;

}
.background3 {
  background:url("background 3.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index:-10;
   width:100%;
  height:100vh;

}

.square {
  height: 400px;
  width: 400px;
  background-color: #FF9E82;
transform: rotate(45deg);
top:1670px;
left:40px;
position:absolute;
  }

.squarelink{
 /* height: 380px;
  width: 380px;
  background-color: #FF9E82;
transform: rotate(45deg);
top:1670px;
position:absolute;
}

.square2link{
  height: 380px;
  width: 380px;
  background-color: #FF9E82;
transform: rotate(45deg);
top:1670px;
position:absolute;*/
}


  .square2 {
  height: 400px;
  width: 400px;
  background-color: #FF9E82;
transform: rotate(45deg);
top:2000px;
left:330px;
position:absolute;
  }

   .square3 {
  height: 400px;
  width: 400px;
  background-color: #FF9E82;
transform: rotate(45deg);
top:1650px;
left:700px;
position:absolute;
  }

   .square4 {
  height: 400px;
  width: 400px;
  background-color: #FF9E82;
transform: rotate(45deg);
top:1938px;
left:1012px;
position:absolute;
  }

.me{
  width: 300px;
  height :380px;
  z-index:1;
   position:absolute;
   top:855px;
   left:130px;
}

.chibi {
  width: 380px;
  height :400px;
  z-index:1;
   position:absolute;
   top:290px;
   left:100px;

}

h1{
  position:absolute;
   top:260px;
   left:500px;
   font-size: 80px;
   z-index:1;

}

h2{
position:absolute;
   top:380px;
   left:500px;
   font-size: 35px;
   z-index:1;
}

.education{
  font-size: 15px;
  top:1700px;
 right:1700px;
position:absolute;

}
.Workexperience{
  font-size: 15px;
  top:1500px;
 right:1400px;
position:absolute;

}
.contact{
  top:300px;
 right:982px;
position:absolute;

}

.project{
  top:1700px;
 right:982px;
position:absolute;
z-index:10;

}











