*{
  margin: 0;
  padding: 0;
}

.UXMENU{
background-image: url("backgroundwhite.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index:-10;
  width:100%;
  height:100vh;
}

.grid-container1{
  display: grid;
  grid-template-columns: repeat(2fr);
  margin: 0;
  padding: 0;
}

.picrain{
  margin-right:100px;
margin-top:60px;
  }

  .merain{
  position:relative;
  margin-left:140px;
    margin-top:100px;
}

.title1{
  margin-right:100px;
margin-top:60px;
  
}

.title{
  font-size:100px;
  color:#2d4a91;
   margin-left:740px;
    margin-top:-500px;
    font-family: 'Tangerine', cursive;
}

.description1{
  margin-right:100px;
margin-top:-10px;
  padding: 10px 0;
}

.context1{
margin-left:600px;
margin-top:-370px;
  padding: 10px 0;
  font-size:20px;
  color:#041d50;
  font-family: 'Ubuntu', sans-serif;
}

.linkback{
  font-size:20px;
   margin-left:1240px;
    margin-top:-100px;
    font-family: 'Ubuntu', sans-serif;
    color:#112046;
}

.back{
color:#112046;
}

.backgroundrain{
background-image: url("background 2-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index:-10;
  width:100%;
  height:100vh;
}

.grid-container2{
  display: grid;
  grid-template-columns: repeat(2fr);
  margin: 0;
  padding: 0;
}

.title2{
  margin-right:100px;
  margin-left:100px;
margin-top:160px;
text-align:center;
  }

.Whatthis{
  font-size:50px;
  color:#112046;
position:relative;
font-family: 'Ubuntu', sans-serif;
}

.content{
  font-size:22px;
  color:#315ea6;
position:relative;
text-align: center;
font-family: 'Ubuntu', sans-serif;
}

.description2{
  margin-right:100px;
  margin-left:100px;
margin-top:100px;
  padding: 10px 0;
  position:center;
}

.backgroundUX{
background-image: url("backgroundwp.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index:-10;
  width:100%;
  height:100vh;
}

.grid-container3{
  display: grid;
  grid-template-columns: repeat(2fr);
  margin: 0;
  padding: 0;
}


.whiterain{
animation animation-duration: 50s;
animation-iteration-count: infinite;
background-repeat: repeat;
  position:relative;
  margin-left:100px;
    margin-top:210px;

}


.blackrain{
animation animation-duration: 50s;
animation-iteration-count: infinite;
background-repeat: repeat;
  position:relative;
  margin-left:520px;
    margin-top:-510px;

}

.coderain{
animation animation-duration: 50s;
animation-iteration-count: infinite;
background-repeat: repeat;
 position:relative;
  margin-left:930px;
    margin-top:-700px;
}

.backgroundcode{
background-image: url("backgroundwhite.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index:-10;
  width:100%;
  height:100vh;
}

.grid-container4{
  display: grid;
  grid-template-columns: repeat(2fr);
  margin: 0;
  padding: 0;
}

.picutopia{
  margin-left:500px;
margin-top:-110px;
  }

.gamemaker{
   position:relative;
  margin-left:380px;
    margin-top:-100px;
}

.title3{
  margin-left:170px;
margin-top:60px;
position:relative;
font-family: 'Press Start 2P', cursive;
  }

.Utopia{
  font-size:95px;
  color:#2D4A91
  margin-left:980px;
    margin-top:-400px;
}

.description3{
  margin-left:170px;
margin-top:80px;
  padding: 10px 0;
}

.context2{
margin-left:5px;
margin-top:-320px;
  padding: 10px 0;
  font-size:20px;
  color:#041d50;
  font-family: 'Nunito', sans-serif;
}

.backgroundutopia{
background-image: url("background 3.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index:-10;
  width:100%;
  height:100vh;
}

.grid-container5{
  display: grid;
  grid-template-columns: repeat(2fr);
  margin: 0;
  padding: 0;
}

.title4{
  margin-right:100px;
margin-top:160px;
text-align:center;
  }

.Whatthiss{
  font-size:50px;
  color:#f79d83;
  position:relative;
    margin-top:-10px;
    position:center;
    font-family: 'Nunito', sans-serif;
}

.description4{
 margin-left:200px;
 margin-right:200px;
  position:center;
  margin-top:100px;
}

.contentlol{
  font-size:18px;
  color:#f3dfcb;
  position:relative;
position:center;
font-family: 'Nunito', sans-serif;
}


.backgrounddw{
background-image: url("background 2-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index:-10;
  width:100%;
  height:100vh;
}

.grid-container6{
  display: grid;
  grid-template-columns: repeat(2fr);
  margin: 0;
  padding: 0;
}

.pic1{
position:absolute;
  margin-left:50px;
    margin-top:180px;
}

.pic2{
position:absolute;
  margin-left:600px;
    margin-top:200px;
}

.pic3{
position:absolute;
  margin-left:1150px;
    margin-top:210px;
}

.pic4{
position:absolute;
  margin-left:50px;
    margin-top:480px;
}

.pic5{
position:absolute;
  margin-left:650px;
    margin-top:480px;
}

.pic6{
position:absolute;
  margin-left:1150px;
  margin-top:480px;
}

.title5{
  margin-right:100px;
margin-top:50px;
text-align:center;
font-family: 'Nunito', sans-serif;
  }

.figma{
font-size:30px;
position:absolute;
margin-top:40px;
color:#041D50;
}

.title6{
margin-right:100px;
margin-top:60px;
text-align:center;
font-family: 'Nunito', sans-serif;
}

.figma2{
  font-size:30px;
  position:absolute;
  margin-top:-100px;
color:#041D50;
}

.bg{
  background-image: url("backgroundwp.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index:-10;
  width:100%;
  height:100vh;
}

.grid-container7{
  display: grid;
  grid-template-columns: repeat(2fr);
  margin: 0;
  padding: 0;
}

.description5{
 margin-left:600px;
 margin-right:300px;
  position:center;
  margin-top:600px;
  font-family: 'Nunito', sans-serif;
}

.contenttoolbox{ 
font-size:18px;
  color:#f3dfcb;
  position:absolute;
text-align: left;
}

.pictoolbox{
  margin-left:-200px;
margin-top:-500px;
  }

.toolbox{
  position:absolute;
  margin-left:380px; 
  margin-top:100px; 
}

.adobe{
  position:absolute;
  margin-left:780px;
    margin-top:400px;
    font-size:70px;
    color:#FAE5D4;
        font-family: 'Tangerine', cursive;
}

.bg2{
  background-image: url("background 3.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index:-10;
  width:100%;
  height:100vh;
}

.grid-container8{
  display: grid;
  grid-template-columns: repeat(2fr);
  margin: 0;
  padding: 0;
}

.description6{
 margin-left:800px;
 margin-right:300px;
  position:center;
  margin-top:250px;
  font-family: 'Nunito', sans-serif;
}

.sketchnote{
font-size:18px;
  color:#f3dfcb;
  position:relative;
  margin-left:380px;
    padding-top:-200px;
text-align: left;
}

 .piclinz{
  margin-left:220px;
margin-top:-110px;
  }

.linz{
position:absolute;
}

.title7{
margin-left:600px;
margin-top:60px;
text-align:right;
font-family: 'Nunito', sans-serif;
 color:#f79d83;
 font-size:50px;
}

.sketchy{
  font-size:100px;
  color:#f79d83;
  position:relative;
  margin-left:600px;
    margin-top:300px;
}











 





























