body {
  color: #2f;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  background:#f3dfcb;
  z-index:2;
}

.UXMENU{
background-image: url("backgroundwhite.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index:-10;
  width:100%;
  height:100vh;
}

.merain{
  top:100px;
left: 100px;
position:absolute;
}

.gamemaker{
   top:50px;
left: 800px;
position:absolute;
}

.backgroundUX{
background-image: url("backgroundwp.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index:-10;
  width:100%;
  height:100vh;
}

.coderain{
animation animation-duration: 50s;
animation-iteration-count: infinite;
background-repeat: repeat;
	top:1700px;
left: 500px;
position:absolute;
}

.Whatthis{
  font-size:50px;
  color:#112046;
  top:1000px;
left:580px;
position:absolute;
}

.content{
  font-size:18px;
  color:#f3dfcb;
  top:1160px;
left:200px;
position:absolute;
text-align: left;
}

.backgroundrain{
background-image: url("background 2-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index:-10;
  width:100%;
  height:100vh;
}

.backgroundcode{
background-image: url("backgroundwhite.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index:-10;
  width:100%;
  height:100vh;
}


.title{
  font-size:50px;
  color:#2d4a91;
  top:110px;
left:900px;
position:absolute;
}

.whiterain{
animation animation-duration: 50s;
animation-iteration-count: infinite;
background-repeat: repeat;
	top:2800px;
left: 100px;
position:absolute;

}

.blackrain{
animation animation-duration: 50s;
animation-iteration-count: infinite;
background-repeat: repeat;
	top:2800px;
left: 500px;
position:absolute;

}

.backgroundutopia{
background-image: url("background 3.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index:-10;
  width:100%;
  height:100vh;
}

.Utopia{
  font-size:100px;
  color:#f3dfcb;
  top:5000px;
left:900px;
position:absolute;
}

.pic1{
top:4300px;
left: 500px;
position:absolute;

}

.dw{
top:4000px;
left: 500px;
position:absolute;

}

.lol{
  font-size:100px;
  color:#f3dfcb;
  top:3300px;
left:900px;
position:absolute;
}

.contentlol{
  font-size:18px;
  color:#f3dfcb;
  top:3600px;
left:200px;
position:absolute;
text-align: left;
}



.backgrounddw{
background-image: url("background 2-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index:-10;
  width:100%;
  height:100vh;
}
