
header{
  margin:0;
  padding: 0;
}
.coffee {
   position:absolute;
   top:100px;
   left:500px;
  width:25%;
}
.girl {
   position:absolute;
   top:600px;
   left:100px;
  width:25%;
}
.cny {
   position:absolute;
   top:800px;
   left:500px;
  width:25%;
}
.lamp {
   position:absolute;
   top:100px;
   left:100px;
   width:10%;
}

.squarelink{
 /* height: 380px;
  width: 380px;
  background-color: #FF9E82;
transform: rotate(45deg);
top:1670px;
position:absolute;
}

.square2link{
  height: 380px;
  width: 380px;
  background-color: #FF9E82;
transform: rotate(45deg);
top:1670px;
position:absolute;*/
}

.back{
  font-size:20px;
  top:800px;
 right:150px;
position:absolute;
color:#2d4a91;
}

.squarelink{
 
}

.back{
  font-size:20px;
  top:1600px;
 right:150px;
position:absolute;
color:#2d4a91;
}