
body {
  background-color:#f3dfcb;
}

header{
  margin:0;
  padding: 0;
}

.grid-container1{
  display: grid;
  grid-template-columns: repeat(2fr);
  margin: 0;
  padding: 0;
}

.piccoffee{
position:relative;
  margin-left:1300px;
    margin-top:10px;
}

.coffee {
   position:relative;
   margin-right:100px;
   margin-top:0px;
  width:70%;
}

.grid-container4{
  display: grid;
  grid-template-columns: repeat(2fr);
  margin: 0;
  padding: 0;
}

.picgirl{
position:relative;
  margin-left:600px;
    margin-top:-500px;
}

.girl {
   position:relative;
    margin-top:200px;
     margin-left:800px;
  width:25%;
}

.grid-container3{
  display: grid;
  grid-template-columns: repeat(2fr);
  margin: 0;
  padding: 0;
}

.piccny{
position:relative;
  margin-left:50px;
    margin-top:-680px;
}
.cny {
   position:relative;
    margin-top:-100px;
     margin-left:1200px;
  width:25%;
}

.grid-container2{
  display: grid;
  grid-template-columns: repeat(2fr);
  margin: 0;
  padding: 0;
}

.piclamp{
position:relative;
  margin-left:0px;
    margin-top:-550px;
}
.lamp {
   position:relative;
   margin-top:800px;
   width:0%

}

.squarelink{
 /* height: 380px;
  width: 380px;
  background-color: #FF9E82;
transform: rotate(45deg);
top:1670px;
position:absolute;
}

.square2link{
  height: 380px;
  width: 380px;
  background-color: #FF9E82;
transform: rotate(45deg);
top:1670px;
position:absolute;*/
}

.back{
  font-size:20px;
  top:800px;
 right:150px;
position:absolute;
color:#2d4a91;
}

.squarelink{
 
}

.back{
  font-size:20px;
  top:1200px;
 right:210px;
position:absolute;
color:#2d4a91;
}