html{scroll-behavior: smooth;}
*{box-sizing: inherit;}

header{
  margin:0;
}

.backgroundphoto{
background-image: url("Photography.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index:-10;
  width:100%;
  height:100vh;
}

.picture{	
position:relative;
transform: rotate(0deg);
width:100%;
margin-top:20px;
margin-left:40px;
}

.picture2{  
position:relative;
transform: rotate(358deg);
width:23%;
padding-top:30px;
padding-left:600px;
}

.picture3{  

position:relative;
transform: rotate(345deg);
width:68%;
padding-top:400px;
padding-left:600px;
margin:0;
}




.square {
  height: 245px;
  width: 325px;
  background-color: #F3dfcb;
transform: rotate(15deg);
padding-top:100px;
margin-left:250px;
position:relative;
  }

  .square1 {
  height: 310px;
  width: 330px;
  background-color: #F3dfcb;
transform: rotate(345deg);
top:86px;
left:1010px;
position:absolute;
  }




.text{
  font-size: 25px;
  color:112046;
  top:630px;
left:60px;
position:absolute;
 }

.back{
  font-size:20px;
  top:800px;
 right:150px;
position:absolute;
color:#f3dfcb;
}

.seemore{
  font-size: 25px;
  color:112046;
  top:730px;
left:1200px;
position:absolute;
}
