body {
  color: #2f;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  background:#f3dfcb;
  z-index:2;
}
.backgroundphoto{
background-image: url("Photography.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index:-10;
  width:100%;
  height:100vh;
}

.picture{	
position:absolute;
transform: rotate(15deg);
left:160px;
top:250px;
}

.square {
  height: 245px;
  width: 325px;
  background-color: #F3dfcb;
transform: rotate(15deg);
top:110px;
left:165px;
position:absolute;
  }

  .square1 {
  height: 310px;
  width: 330px;
  background-color: #F3dfcb;
transform: rotate(345deg);
top:86px;
left:1010px;
position:absolute;
  }

 .text{
 	font-size: 25px;
 	color:112046;
 	top:630px;
left:60px;
position:absolute;
 }

 .picture2{	
position:absolute;
transform: rotate(358deg);
left:580px;
top:285px;
}

.picture3{	

position:absolute;
transform: rotate(345deg);
left:1016px;
top:80px;
}
