
html{scroll-behavior: smooth;}
*{box-sizing: inherit;}

header{

}

.backgroundcontact {
  background:url("contact.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index:-10;
   width:100%;
  height:100vh;

}

.contact{
	font-size:80px;
position:relative;
z-index:10;
color:#f6a288;
padding-top:200px;
padding-left:700px;

}

.email{
font-size:40px;
  position:relative;
z-index:10;
color:#f6a288;
margin-top:80px;
padding-left:700px;

}

.instagram{
  font-size:40px;
  position:relative;
  margin-top:40px;
padding-left:700px;
z-index:10;
color:#f6a288;
}

.linkedin{
  font-size:40px;
  position:relative;
  margin-top:40px;
padding-left:700px;
color:#f6a288;
}


.back{
  font-size:20px;
position:relative;
  margin-top:40px;
padding-left:700px;
color:#f3dfcb;
}