html{scroll-behavior: smooth;}
*{box-sizing: inherit;}

body {
  margin:0;
}

.backgroundgd{
background-image: url("background 3.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index:-10;
  width:100%;
  height:100vh;
}


.square {
  height: 380px;
  width: 380px;
  background-color: #FF9E82;
transform: rotate(45deg);
top:80px;
left:100px;
position:absolute;
  }

  .squarelink{
 /* height: 380px;
  width: 380px;
  background-color: #FF9E82;
transform: rotate(45deg);
top:1670px;
position:absolute;
}

.square2link{
  height: 380px;
  width: 380px;
  background-color: #FF9E82;
transform: rotate(45deg);
top:1670px;
position:absolute;*/
}

 .square2 {
  height: 380px;
  width: 380px;
  background-color: #FF9E82;
transform: rotate(315deg);
top:335px;
left:400px;
position:absolute;
  }

.back{
  font-size:20px;
  top:700px;
 right:150px;
position:absolute;
color:#f3dfcb;
}
  .logo{
  font-size:50px;
}

.GraphicDesign{
  font-size:50px;
}

.illustration{
  font-size:50px;
}

.Poster{
  font-size:50px;
}

   .square3 {
  height: 380px;
  width: 380px;
  background-color: #FF9E82;
transform: rotate(45deg);
top:335px;
left:1000px;
position:absolute;
  }

   .square4 {
  height: 380px;
  width: 380px;
  background-color: #FF9E82;
transform: rotate(315deg);
top:80px;
left:700px;
position:absolute;
  }